/****GENERAL SYTLING ****/

/*HTML*/
html {
    scroll-behavior: smooth;
}

/* BODY */
body {
    margin: 0%; /*This ensures our site displays all the way to the edge of the browser screens */
    background-color:#18272F;
}

/* Heading 1 elements */
h1{
    text-transform:uppercase; /*capitalizing all h1 headings */
    font-family: "Helvetica"; /*Sets font family of all h1 headings*/
    text-align: center; /*Centering all h1 elements*/
    color: #1a1a1a;

    position: relative;
}



h1::before {
    content: '';
    position: absolute;
    width: 46%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: .1;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

h1:hover::before {
    transform-origin:left;
    transform: scaleX(1);
}

/* Heading 1 element hover effect */
h1:hover {
    filter: grayscale(5%); /* Adds a slightly gray filter to the h1 headings when hovered over */
    transform: scale(1.1); /*When the h1 elements are hovered over the increase in size by 1.1 */
    transition: transform 1s; /* this causes the transformation to last 1 second */
}

/*Styling for portfolio title text */
.white-text {
    color: #fff; /* This is used to change the color of the portfolio title text */
}

/*Paragraph elements */
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify; /* Justify text within paragraph elements */
    letter-spacing: 1px; /* This expands the text slightly */
    font-size: 20px;
    padding-left: 20px; /*Adds padding to the left of the paragraph element */
    padding-right: 20px; /*Adds padding to the right of the paragraph element*/
    /* text-shadow: -1px 0px aliceblue, 0px 1px aliceblue, 1px 0px aliceblue, 0px -1px aliceblue; */
}

/* p.info {
    text-shadow: -1px 0px #84a8c0, 0px 1px #84a8c0, 1px 0px #84a8c0, 0px -1px #84a8c0;
    font-weight: bold;
}
*/

/*Paragraph element hover effect // CHANGE THIS, I DON'T LIKE THIS*/
/* p:hover {
    transition: transform 1s; This makes the transform effect last 1 second 
    transform: scale(1.01); this makes the paragraphs increaase slightly in size when hovered over
} */

/* Center class hover effect - This only affects the quote, GitHub Link, and footer 
.center:hover {
    transition: transform 2s; /*This makes the transform effect last 2 seconds
    transform: scale(1.1); /*This makes the elements with class "center" increase in size by 1.1 when hovered over
}*/

p.center {
    text-align: center;
}
/*Anchor elements */
a {
    color: #243844; /*This ensures all links are blue*/
}

/* Quotation elements */
q {
    font-style: italic; /* This makes the quote italicized*/
}

/* Image Elements */
img {
    filter: grayscale(80%); /*This rids our pictures of 75% of their color */
    border-radius: 8px; /*Gives all images slightly rounded corners */
    max-width: 100%; /* Ensures all images stay within the width of their container */
    height: 340px; /*Sets height of all images*/
    display: block; /*by specifying block display, we can ensure our images are able to be centered */
    margin-left: auto; /*In combination with "margin-right: auto" this centeres all images */
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

/* Image element hover effects */
img:hover {
    filter: grayscale(50%); /*Brings back most of hte image's color when hovered over */
    transition: transform .5s; /*Transition lasts 1 second*/
    transform: scale(1.05); /*Image is increased slightly when hovered over */
}

/* The @media rule is used in media queries to apply different styles for different media/types of devices*/
/*On screens 576px and smaller the images will be 100 px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}


/*** END OF GENERAL STYLING ***/

/*** NAVBAR STYLING ***/
.navbar a {
    background-color: rgb(194, 130, 121);
    color:#000000;
    font-weight: bold;
    float: top; /*This specifies that the text floats on the left on the navbar */
    display: block table-column; /*This ensures that other text will be displayed on the same line or row, instead of   a new line */
    color: #304a5b; /*This is the font color for the text of your navbar */
    text-decoration: none; /*This gets rid of the underlines under the text on our navbar */
    padding: 14px 16px; /*This adds padding around our text */
    font-family:'Courier New', Courier, monospace;
    font-size: 20px; /* This specifies the font size for text on our navbar*/
    text-align: center; /*This centers the text within its containers */
    position: relative; /*This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveNav 5.75s; /*Animation for Safari 4.0 - 8.0 */
    animation: moveNav 5.75s; /* Applies the moveNavText animation for 5.75s */
}   

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNav {
    from {right: -50vw;} /*This sets the navbar text 100% above the viewport */
    to {right: 0vw;} /*This lowers the navbar text onto the navbar */
}

/*Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .navbar a{
        width: 25%; /*This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
}

/* Navbar hover effects */
.navbar a:hover {
    background-color: #5a96bf; /*Defines the background color that will display when you hover over the link */
    color: black; /*This defines the font color that will display when navbar a elements are hovered over */
    font-weight: bold; /*This makes the text on the navbar bold when hovered over */
}

/* Navbar home button */
.navbar a.active { /* This targets the a element on the navbar with the "active" class */
    background-color:  rgb(194, 130, 121);
    color: white;
    ;
}
/***END OF NAVBAR STYLINGS ***/

/** VIDEO STYLING **/
/* Formatting for background video */
#Stretch_video {
    position: absolute; /*This fixes the video to the page */
    left: 0; /*this ensures there is no space between the edge of the video and the edge of the page*/
    top: 0;
    bottom: 0; /*This ensures no space between the bottom of the video and the bottom of the page */
    min-width: fit-content; /*This ensures the video is displayed across the full width of the page */
    min-height: fit-content;
    z-index: -1; /*This places the video behind the other elements on the page*/
    object-fit: scale-down;
}

/* Screen that are 576px and smaller will not display the background video */
@media screen and (max-width: 576px) {
    #Stretch_video {
        display: none;
    }
}

/* Texts over the video */
.Video_Text {
    background: rgba(0,0,0,0.5); /*This provides a semi-transparent background for the text to sit over */
    color: white; /*Makes font color white*/
    width: 68.5%; /*Ensures the video-text container fills the width of the video */
    padding: 20px; /*This adds padding around the video-text container so that the background goes slightly beyond the text */
    position: relative; /*This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

/*This animation effect causes the overlay video text to move up from the bottom of the page upon page load */
@keyframes moveVideoText {
    from {left: -50vw;} /*This sets the position of the video text to above the viewport */
    to {left: 0vw;} /*This moves the video text to the normal positioning on the viewport */
}
/****END OF VIDEO STYLING******/

.column_1 {
    float: left;
    width: 45%; /*This ensures the column takes up half of the page width */
    padding: 8px;
    padding-top: 2%; /* This ensures there is space between the top of the column and our headings */
    height: 425px; /* This setes the height of the column  to 400px - this may need to be adjusted depending on the text you enter */
    background-color: rgba(132, 168, 192,0.40   ) ; /*Sets background color of the columns with class Column_1 */
    padding-left: 2em;
    border-radius: 10px;
}

.column_4 {
    float: right;
    width: 45%; /*This ensures the column takes up half of the page width */
    padding: 8px;
    padding-top: 2%; /* This ensures there is space between the top of the column and our headings */
    height: 425px; /* This setes the height of the column  to 400px - this may need to be adjusted depending on the text you enter */
    background-color: rgba(132, 168, 192,0.40   ) ; /*Sets background color of the columns with class Column_1 */
    padding-left: 2em;
    border-radius: 10px;
}

/*Screens 576px and smaller will display a scroll bar if the text overflows the column height */
@media screen and (max-width:576px) {
    .column_1 {
        overflow: auto;
    }
}

.column_2 {
    float: right;
    width: 45%;
    padding: 8px;
    padding-top: 2%;
    height: 425px;
    background-color: #304a5b;
    border-radius: 10px;
    padding-left:2em;
}

.column_3 {
    float: left;
    background-color: #304a5b;
    color:#fff;
    width:45%;
    padding:8px;
    padding-top:2%;
    padding-left:2%;
    height:425px;
    border-radius:10px;
}
.contact-column {
    float: left;
    background-color: rgba(132, 168, 192,0.85   );
    color:#000000;
    width:45%;
    padding:8px;
    padding-top:2%;
    padding-left:2em;
    height:200px;
    border-radius:10px;
}

.link-column {
    float: right;
    background-color: rgb(194, 130, 121, 0.85);
    color:#000000;
    width:45%;
    padding:8px;
    padding-top:2%;
    padding-left:2em;
    height:300px;
    border-radius:10px;
}


/* This class is applied to the columns in the final row, overriding the height and padding to provide more room for the contact form while keeping the rest of the formatting from column_1 or column_2 */
.column_tall {
    padding-top: 3.5%;
    height: 300px;
}

/* This inserts smething after the content of selected elements (in this case the elements with class "Row") */

.Row:after {
    content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
    display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
    clear: both; /*This clears any other elements from floating on the left of the right of an element */
}
/******END OF TABLE STYLINGS *******/

/******CONTACT FORM CONTAINER STYLINGS*******/
.open-button { /*button used to open contact form*/
    background-color: rgb(194, 130, 121);
    color:rgb(8, 30, 50);
    padding: 10px 10px;
    border: solid rgb(8, 30, 50);
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 1.75vw;
    right: 15px;
    width: 25vw;
    float:right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    max-height: 500px;
    max-width: 300px;
    border-radius: 10px;
}

button.sticky {
    position:fixed;
    right:100px;
    max-height: 300px;
    max-width: 300px;
    
}

/*Add styles to the form container */
.form-popup {
    display:none;
    position: fixed;
    bottom: 0;
    right: 80px;
    z-index: 9;
    width: 400px;
}

/*Add styles to the form container*/
.form-container {
    width: 100%;
    max-width:500px;
    padding: 20px;
    background-color:rgb(194, 130, 121);
    padding:10px;
    border:#00004d;
}

.contact-btn:hover{

    background-color:#5a96bf;
}

.form-container input[type=text], .form-container input[type=email] {
    width: 100%;
    padding: 20px;
    margin: 5px 0 22px 0;
    background:rgb(208, 208, 208);
}


/*Set a style for Submit button*/
.form-container .btn {
    background-color:#304a5b;
    color:rgb(255, 255, 255);
    padding: 16px 20px;
    border: 2px black;
    cursor:pointer;
    width:100%;
    margin-bottom:10px;
    opacity:.95;
    padding:20px;
}

/*Add a red background color to the cancel button*/
.form-container .cancel {
    background-color:#791c1c;
}

/*Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity:1;
}



/*********END CONTACT FORM CONTAINER STYLINGS *********/

/******CONTACT FORM STYLING *******/
/* input[type=text] targets all text input sections of the contact form */
input[type=text], input[type=email] {
    width: 100%; /* Each input box covers the full width of the container */
    padding: 12px; /*Adds padding within the text box */
    border: 1px solid #ccc; /* Setting a solid border and its colors */
    border-radius: 4px;
    box-sizing: border-box; /*This creates a box with a border around the contact form input boxes */
    margin-top: 6px; /*Adds a margin to the top of the text box*/
    margin-bottom: 16px; /*Adds a margin to the bottom of the text box*/
    resize: vertical; /* This allowes the user to resize the text boxes vertically */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Hover effects for input boxes */
input[type=text]:hover, input[type=email]:hover {
    box-shadow: 0 0 5px #00004d inset; /* This creates a blue shadow in the text box when hovered over by the user */
}

/* SUBMIT BUTTON */
input[type=submit], button[type=button] {
    background-color: #304a5b; /*Sets the background color of the submit butoon to plack */
    color: white; /* Sets the font color of the submit button to white */
    font-weight: bold; /*Makes the font of the submit button bold */
    padding: 12px 20px 10px; /*Adds padding to the submit button */
    border: none; /*Removes the border from the submit button */
    border-radius: 4px; /* Gives the submit button the same rounded corners as the text boxes */
    cursor: pointer; 
    display: block; /*Allows the submit button to be centered */
    margin-left: auto; /* In combination with "margin-right: auto" this will center the submit button */
    margin-right: auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Hover effect for submit button */
input[type=submit]:hover, button[type=button]:hover{
    background-color: #5a96bf; /*Turns the background of the submit button white when the user hovers over it */
    color: white; /*Turns the font black when hovered over */
    transform: scale(1.05); /*Makes the button increase 1.5 times in size */
    transition: transform 1.1s; /*Makes the transform effect last in 1.5 seconds */
}

button[type=button]:hover{
    background-color: #a23131; /*Turns the background of the submit button white when the user hovers over it */
    color: white; /*Turns the font black when hovered over */
    transform: scale(1.05); /*Makes the button increase 1.5 times in size */
    transition: transform 1.1s; /*Makes the transform effect last in 1.5 seconds */
}

label {
    color:rgb(8, 30, 50);
}
/*Form element */
form {
    border-radius: 5px; /*Rounds the corners of the contact form */
    background-color: rgba(24, 39, 47, 0.8);
    padding: 20px; /*Adds padding to the contact form */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 1.5em;
    margin-right: auto;
}


/******END OF CONTACT FORM STYLING*******/

/* Styling for footer element */
footer { 
    padding: 3%; /*This gives the footer padding that is equal to 2% of the width of the element's area */
    background-color:  rgb(194, 130, 121); /*#5a96bf*/;
    position:fixed;
    margin-bottom: 0;
    bottom:0;
    z-index:-1;
    height: 150px;
    
} 

p.center {
    color: white;
}


/* END OF FOOTER */